---
---
$base-font-size: 16px !default;
$text-color: black;
$border-color: lightgray;

body {
    color: $text-color;
    margin: 0;
    word-break: break-word;
    font-family: Helvetica,sans-serif;
}

ul {
    padding-left: 10px;
    margin: 10px;
}

li {
    margin-bottom: 10px;
}

article {
    padding: 0 20px 0 20px;
}

header {
    padding: 10px;
    border-bottom: 1px solid $border-color;
}

footer {
    padding: 10px;
    border-top: 1px solid $border-color;
    margin-top: 20px;
}

.home {
    padding: 1em;
}

.site-title {
    color: $text-color;
    font-weight: bold; 
}

.post-counter {
    font-weight: bold; 
}

.post-info {
    margin: auto;
}