<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div>
    <a class="site-title" href="{% include relative %}" style="font-size: 125%;">{{ site.title }}</a>
    <div style="display: inline-block"> | <a href="{% include relative %}/about/">About</a> | <a href="{% include relative %}/tags/">Tags</a></div>
</div><hr>
<main>
<div class="content-wrapper">{{ content }}</div>
</main>
<hr><div><p style="text-align: center;">{% capture footer-md %}{% include footer.md %}{% endcapture %}{{ footer-md | markdownify }}</p></div>
</body>
</html>